<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Strona Logowania</title>
</head>
<body>
    <label for="txtLogin">Wpisz Login: </label>  <br />
    <input id="txtLogin" type="text" /> <br /> <br />

    <label for="txtPassword">Wpisz hasło: </label>  <br />
    <input id="txtPassword" type="password" /> <br /> <br />

    <input id="btnLogin" type="button" value="Zaloguj się" /> <br /> <br />

    <input id="btnLoginWithGoogle" type="button" value="Zaloguj się za pomocą Google" /> <br /> <br />
    <input id="btnLoginWithFb" type="button" value="Zaloguj się za pomocą Facebook" /> <br /> <br />

    <input id="RememberMeCheckbox" type="checkbox" />
    <label for="RememberMeCheckbox">Zapamiętaj mnie</label> <br />

    @* Zastanowić się czy nie zrobić tego linkiem do nowej strony*@
    <input id="ForgotPasswordCheckbox" type="checkbox" />
    <label for="ForgotPasswordCheckbox">Nie pamiętam hasła</label> <br />
</body>
</html>