<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Strona rejestracji</title>
</head>
<body>
    <label for="txtName">Imię: </label>  <br />
    <input id="txtName" type="text" height="50" width="150" /> <br /> <br />

    <label for="txtLastName">Nazwisko: </label>  <br />
    <input id="txtLastName" type="text" height="50" width="150" /> <br /> <br />

    <label for="txtEmail">Email: </label>  <br />
    <input id="txtEmail" type="text" height="50" width="150" /> <br /> <br />

    <label for="txtLogin">Wpisz Login: </label>  <br />
    <input id="txtLogin" type="text" height="50" width="150" /> <br /> <br />

    <label for="txtPassword">Podaj hasło: </label> <br />
    <input id="txtPassword" type="password" height="50" width="150" /> <br /> <br />

    <label for="txtConfirmPassword">Powtórz hasło: </label> <br />
    <input id="txtConfirmPassword" type="password" height="50" width="150" /> <br /> <br />

    //TODO: Otwieranie linku w nowej karcie
    <input id="AcceptPolicyCheckbox" type="checkbox" />
    <label for="AcceptPolicyCheckbox">Akceptuję <a href="Regulations"> Regulamin</a> oraz <a href="PrivacyPolicy"> Politykę Prywatności</a></label> <br />

    <input id="btnRegister" type="button" value="Zarejestruj się" />
</body>
</html>